#root {
  background-color: beige;
  height: 100vh;
}

.App {
  max-width: 800px;
  margin: auto;
}

.App > header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 50px;
}